@font-face {
    font-family: Norse-Bold-Font;
    src: url(fonts/Norse-Bold.otf);
}

* { 
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

p {
    margin: 0;
    padding: 0;
}

.left {
    display: flex;
    flex-direction: column;
    background-image: url("images/plant.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    flex: 1;
}

.header {
    display: flex;
    align-items: end;
    justify-content: center;
    flex: 1;
    box-sizing: content-box;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 80px;
    background-color: rgba(0,0,0,0.4);
    padding: 10px 0;
}

.title > p {
    padding-top: 20px;
    font-family: Norse-Bold-Font;
}

#odin {
    height: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 2;
}

.footer > p {
    padding-bottom: 10px;
    font-weight: 100;
    font-size: 12px;
}

.footer a:link {
    color: white;
}

.footer a:visited {
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 2;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #f3f5f5;
    flex: 1;
    padding-left: 30px;
    padding-right: 20%;
    font-weight: 500;
    font-size: 18px;
}

span {
    font-style: italic;
}

#msg2 {
    padding-top: 15px;
    padding-bottom: 40px;
}

.middle {
    background-color: white;
    flex: 1;
    padding-left: 30px;
    position:relative;
    z-index:2;
    box-shadow: 0px 5px 10px #cacbcb;
}

.middle > p {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.inputs {
    display: flex;
    gap: 60px;
}

.labels {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 8px;
    font-weight: 600;
    color: grey;
}

input {
    margin-bottom: 15px;
    width: 200px;
    border: 1px solid;
    border-color: #E5E7EB;
    border-radius: 4px;
    padding: 2px;
    padding-left: 8px;
    box-sizing: border-box;
}

.bottom {
    background-color: #f3f5f5;
    flex: 1;
    padding-left: 30px;
}

button {
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    width: 180px;
    height: 35px;
    color: white;
    font-weight: 500;
    margin: 25px 0;
}

.bottom > p {
    font-size: 14px;
}

.bottom a {
    text-decoration: none;
    font-weight: bold;
}

.bottom a:link { 
    color: #596D48;
}

.bottom a:visited {
    color: #596D48;
}


